# Employee Details Generator

The programs will involve generating at least 100 random employee records using Faker library. The
records will be parsed a CSV file for the purpose of Analysis.

### Step 1: Install Neccessary Libraries

In [1]:
!pip install Faker
!pip install psycopg2

Requirement already satisfied: Faker in /Users/macbook/opt/anaconda3/lib/python3.9/site-packages (19.11.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/macbook/opt/anaconda3/lib/python3.9/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/macbook/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 337.0 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl size=133788 sha256=6f79f179e10bf49621a03ca25c1fac6e38f177bdee8e872e8bdd470b06356b33
  Stored in directory: /Users/macbook/Library/Caches/pip/wheels/3a/06/25/adb124afd8c8346e45c455f6586f7289cde2b4e339dfbcd9e9
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

The libraries `Faker` and `psycopg2` are used in this code to facilitate the generation of fake employee data and the interaction with a Postgresql database. Here's why these libraries are used.

**Faker Library:**

* The Faker library is used to generate realistic and random fake data for attributes like names, email addresses, addresses, and more. It makes it easy to create synthetic data that closely resembles real data, which is important for testing and simulating real-world scenarios.

* Without `Faker`, you would need to write custom code to generate fake data for each attribute, which can be time-consuming and may not produce as realistic results.

**psycopg2:**

* `The mysql-connector-python` library is used to connect to and interact with a MySQL database. It provides functions and classes that simplify database operations, including connecting to the database, executing SQL queries, and committing changes.

`Without mysql-connector-python`, you would have to write low-level code to establish a connection to the database and handle database operations, which can be error-prone and complex

### Task 1: Collecting Employee Details and Stored in a List

### Step 2: Import Libraries and Variables

In [16]:
import random
import mysql.connector
from mysql.connector import errorcode
from faker import Faker

# Change this to the desired number of employees
NUMBER_OF_EMPLOYEES = 10

employee = {} # single employee record
all_employees = []  # all employee list

### Step 3: Define Functions

**Prerequsite: Ensure you create a Database name `faker_employees` into your workbench**

In [17]:
# Create employees Table
def create_employee_tbl(cursor):
    create_table_sql = """
        CREATE TABLE `employees` (
          `employee_id` varchar(225) DEFAULT NULL,
          `first_name` varchar(225) DEFAULT NULL,
          `last_name` varchar(225) DEFAULT NULL,
          `email` varchar(225) DEFAULT NULL,
          `age` int DEFAULT NULL,
          `salary` float DEFAULT NULL,
          `department` varchar(225) DEFAULT NULL,
          `address` varchar(225) DEFAULT NULL,
          `state` varchar(225) DEFAULT NULL,
          `country` varchar(225) DEFAULT NULL
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
    """
    cursor.execute(create_table_sql)
    print("Table created")

In [18]:
# generate a unique employee id

def generate_employee_id(cursor):
    while True:
        employee_id = f"EMP-{random.randint(1000, 9999)}" #EMP-10001
        
        query_id = """
            SELECT employee_id 
            FROM employees 
            WHERE employee_id = %s
        """
        cursor.execute(query_id, (employee_id,))
        
        if cursor.fetchone() is None:
            return employee_id
        else:
            break

In [19]:
# Create a function to generate a fake employee:
def generate_fake_employee():
    fake = Faker()
    employee_id = generate_employee_id(cursor)
    first_name = fake.first_name()
    last_name = fake.last_name()
    email = fake.email()
    age = random.randint(18, 65)
    salary = random.randint(30000, 100000)
    department = fake.job()
    address = fake.address()
    state = fake.state()
    country = fake.country()
    return (
        employee_id, first_name, last_name, email, age, salary, department, address, state, country
    )

In [20]:
# Create a function to insert the fake employee record into the database:
def insert_employee_record(cursor, employee):
    insert_sql = """
            INSERT INTO employees (employee_id, first_name, last_name, email, age, salary, department, address, state, country) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    """
    cursor.execute(insert_sql, employee)
    connection.commit()

In [21]:
# Connect to the MySQL database:
try:
    connection = mysql.connector.connect(host='localhost',
                                         database='faker_employees',
                                         user='root',
                                         password='akande#T7')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
             

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
#         cursor.close()
#         connection.close()
        create_employee_tbl(cursor)

Connected to MySQL Server version  8.0.25
You're connected to database:  ('faker_employees',)
Table created

In [25]:
for _ in range(NUMBER_OF_EMPLOYEES):
    employee = generate_fake_employee()
    insert_employee_record(cursor, employee)
    
    all_employees.append(employee)

print(f"{NUMBER_OF_EMPLOYEES} generated and inserted into Database successfully")

10 generated and inserted into Database successfully

### Step 3: Close Connections

In [15]:
cursor.close()
connection.close()

In [26]:
all_employees

[('EMP-8309',
  'Sierra',
  'Harper',
  'bartontamara@example.org',
  51,
  66058,
  'Radiographer, therapeutic',
  '8949 Parker Plain Suite 935\nWest Jamesmouth, KS 78898',
  'Oregon',
  'Afghanistan'),
 ('EMP-1677',
  'Stephen',
  'Allen',
  'adrianschwartz@example.org',
  54,
  83475,
  'Teacher, special educational needs',
  '47918 Meyer Well\nEast Natalie, MN 32147',
  'Minnesota',
  'Bolivia'),
 ('EMP-4716',
  'Howard',
  'Perez',
  'heatherbauer@example.net',
  38,
  75141,
  'Immigration officer',
  '40821 Anderson Islands\nThompsonshire, NC 45633',
  'Colorado',
  'Norfolk Island'),
 ('EMP-3120',
  'Thomas',
  'Webb',
  'brian50@example.com',
  18,
  70753,
  'Tree surgeon',
  '98217 Teresa Court Apt. 308\nNew Kenneth, NJ 66169',
  'Rhode Island',
  'Heard Island and McDonald Islands'),
 ('EMP-8062',
  'Lisa',
  'Wallace',
  'margaretmoore@example.com',
  44,
  49644,
  'Immunologist',
  '7241 Sawyer Gardens\nCarterfort, NC 05455',
  'Georgia',
  'Jamaica'),
 ('EMP-8127',
  'Cameron',
  'Ayala',
  'reyestheodore@example.net',
  40,
  71278,
  'Database administrator',
  '4972 Pruitt Shore Suite 578\nWest Andrea, WI 01215',
  'New Hampshire',
  'Poland'),
 ('EMP-5427',
  'Christina',
  'Solis',
  'zfoster@example.com',
  40,
  37774,
  'Civil engineer, contracting',
  '25224 Melinda Isle Apt. 426\nEast Mikaylaburgh, UT 46315',
  'Utah',
  'Northern Mariana Islands'),
 ('EMP-8486',
  'Devin',
  'Torres',
  'wesley74@example.net',
  45,
  33152,
  'Diplomatic Services operational officer',
  '925 Hopkins Shoals Suite 418\nWest Richard, CO 65959',
  'Oregon',
  'Maldives'),
 ('EMP-6893',
  'Carl',
  'Turner',
  'claytonashley@example.com',
  40,
  94510,
  'Tax inspector',
  '20148 Rebekah Freeway\nNorth Terriberg, AZ 74371',
  'South Carolina',
  'Samoa'),
 ('EMP-2246',
  'Joseph',
  'Sexton',
  'staceyferguson@example.net',
  23,
  90176,
  'Pilot, airline',
  '296 Shane Alley Suite 734\nWest Amyshire, GU 38564',
  'Alaska',
  'Costa Rica')]